<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="NewBehavior">
                    <callbackDebug />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="ServiceMetaBehavior">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="CustomerBinding" />
            </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="ServiceMetaBehavior" name="CRM.CustomerService">
                <endpoint address="net.tcp://localhost:8931/CustomerService"
                    binding="netTcpBinding" bindingConfiguration="CustomerBinding"
                    name="CustomerServiceEndPoint" contract="CRM.ICustomerService" />
                <host>
                 
                </host>
            </service>
            <service behaviorConfiguration="ServiceMetaBehavior" name="CRM.TaskService">
                <endpoint address="net.tcp://localhost:8931/TaskService" binding="netTcpBinding"
                    bindingConfiguration="" name="TaskEndPoint" contract="CRM.ITaskService" />
            </service>
            <service behaviorConfiguration="ServiceMetaBehavior" name="CRM.UserService">
                <endpoint address="net.tcp://localhost:8931/UserService" binding="netTcpBinding"
                    bindingConfiguration="" name="UserEndPoint" contract="CRM.IUserService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>